%h3 新加文章
= simple_form_for @article, :url => {:action => "create"}  do |f|
  %p
    = f.input :category, label:'类别:', collection: ['健康知识', '就医指南', '治疗交流', '护理园地', '用药常识']
  %p
    = f.text_field :title
  %p
    = f.text_area :body, :size => "60x12"
  %p
    = f.hidden_field :community_id, :value => @column.community.id
  %p
    = f.hidden_field :column_id, :value => @column.id    
  %p  
    = f.submit "更新"