= widget_div do
  %ul.nav
    - @sections.each do |section|
      %li{'data-id' => section.id, :class => "#{section == @current_section? 'current_section' : nil }"}
        #{link_to section.name, section}
        - if (can? :update, @community) && section == @current_section
          %a.setting{:href => "#"} edit
    - if can? :update, @community
      %li{:class => "#{@parent_controller.parent_controller.action_name == 'admin'? 'current_section' : nil }"} 
        #{link_to '设置', admin_community_path(@community)}

  :javascript
    $(document).ready(function(){
      $("#add_widgets").hide();
      $('.setting').click(function() {
        $("#add_widgets").slideToggle();
      });
    });
